<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Tarefa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Criar Nova Tarefa</h1>
        <form method="POST" action="{{ url_for('tarefa.create_tarefa') }}">
            <!-- Campo oculto para idProjeto -->
            <input type="hidden" name="idProjeto" value="{{ idProjeto }}">
            
            <!-- Nome da Tarefa -->
            <div class="form-group">
                <label for="nome">Nome da Tarefa:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>

            <!-- Descrição da Tarefa -->
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
            </div>

            <!-- Prazo da Tarefa -->
            <div class="form-group">
                <label for="prazo">Prazo:</label>
                <input type="date" class="form-control" id="prazo" name="prazo" required>
            </div>

            <!-- Usuários -->
            <div class="col-12">
                <fieldset class="border p-2">
                    <legend class="">Escolha a quem atribuir a tarefa:</legend>
                    {% for usuario in usuarios %}
                    <div class="form-check form-check-inline px-0">
                        <input value="{{ usuario.id }}" id="{{ usuario.username }}" type="checkbox" name="usuarios"
                            class="btn-check" autocomplete="off">
                        <label for="{{ usuario.username }}" class="btn btn-outline-primary">
                            <span>{{ usuario.username }}</span>
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>
            </div>

            <!-- Botão de Envio -->
            <button type="submit" class="btn btn-primary">Criar Tarefa</button>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
        </form>
    </div>

    <!-- Incluindo jQuery e Bootstrap JS (via CDN para facilitar) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>